@import url('https://fonts.googleapis.com/css?family=Lusitana|Raleway:400,700&display=swap');

:root {
  --mainBlue: #10AAD9;
  --lightBlue: #1ECDFB;
  --mainWhite: #EBF2F6;
  --mainDark: #2E1515;
  --mainYellow: #F4B015;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: "Raleway", sans-serif !important; 
  background-color: var(--mainWhite) !important;
  color: var(--mainDark) !important;
}

